<!--
************************************************************
* Copyright © Ultimus.                                     *
* Diseño y desarrollo: Rubén Enrique Spagnuolo (respag)    *
* Panamá - 2014                                            *
************************************************************
-->
@{
    ViewBag.Title = "Muestra del Proceso: " + ViewBag.processName;
    var nombre = ViewBag.processName + ViewBag.incidente + ViewBag.version + ".gif";
}

<input type="hidden" id="blupInitiate" value="~/Home/Initiate" />
<input type="hidden" id="blup" value="~/Home/inbox" />
<input type="hidden" id="blupCompleted" value="~/Home/completed" />
<img src="~/images/@nombre" class="img-responsive" id="imgProc" style="cursor:pointer"/>
<h4>Haga click  sobre la imagen para ampliarla</h4>
<script>
    $(document).ready(function () {
        // Oculta el botón Initiate arriba y el link Iniciar Procesos a la izquierda en
        // caso de tratarse de un proveedor
        if('@ViewBag.Oculta.ToString()' === "si"){
            $("#initiate, #initiate2").hide()
        };
        //alert($("#imgProc").attr("src"));

        $("#imgProc").click(function () {
            window.open($(this).attr('src'), "newWindow", "scrollbars=yes, height=" + screen.height + ", width =" + screen.width);
        })
    });
</script>