<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FlagUltimusLogin" value="false" />
    <add key="EasyLoginUrl" value="http://192.168.9.212/easywebacceso/EasyLogin/wfLogin.aspx" />
    <add key="PathImages" value="C:\Proyectos\Ultimus.PortalSercopNew\images\" />
   <!-- <add key="AddrApi" value="http://localhost:64100/" />   --> 
    <add key="AddrApi" value="http://192.168.110.10/InitiateApi/" />   
    <add key="ExpiracionEnSegundos" value="600" />
    <!-- <add key="BaseUrl" value="http://localhost:61221/"/>--> 
   <add key="BaseUrl" value="http://192.168.110.10/PortalSercop/"/>    
    <add key="UsuarioProveedor" value="usuarioProveedor" />
    <add key="RutaFormularios"  value="http://192.168.110.10/Ultimus.Sercop.Compartidos/FrmUltimus.aspx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"></customErrors>
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSEasyLoginSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.9.211/WSEasyLogin/WSEasyLogin.asmx" binding="basicHttpBinding" bindingConfiguration="WSEasyLoginSoap" contract="ServiceEasyLogin.WSEasyLoginSoap" name="WSEasyLoginSoap" />
    </client>
  </system.serviceModel>-->
 <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IInformationService" />
        <binding name="WSEasyLoginSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.9.211/EasyLogin.InformationServices/InformationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInformationService" contract="ServiceReference.IInformationService" name="BasicHttpBinding_IInformationService" />
      <endpoint address="http://192.168.9.211/WSEasyLogin/WSEasyLogin.asmx" binding="basicHttpBinding" bindingConfiguration="WSEasyLoginSoap" contract="ServiceEasyLogin.WSEasyLoginSoap" name="WSEasyLoginSoap" />
    </client>
  </system.serviceModel>
</configuration>